* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  background-color: coral;
  padding: 1rem;
}
.menu {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
#brand {
  width: 60%;
}